body{
    height: 100%;
    background-color: #eeebd3;
    color: #A98743;
    
}

.header{
    text-align: center;
    margin: 50px;
}

.container{
    
    display: flex;
    justify-content: center;
    color: #F7C548;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sketchboard{
    background-color: #437C90;
    margin: 50px;
    padding: 20px;
    border-radius: 20px;
    flex-basis: 700px;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content : center;
    align-items : center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.sketchinput{
    width: 600px;
    height: 600px;
    background-color: #d3d3d3;
    margin-top: 10px;
    box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}


.block{
    width: 49px;
    height: 49px;
    opacity: 0.8;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: rgba(20, 20, 40, 0.5)
    
}

.sketchcontrols{
    flex-direction: row;
    display: flex;
    justify-content :space-evenly;
    height: 100px;
}

.resolutioncontrol{
    height: 30px;
    margin: 50px;
    margin-right: 150px;
}

.penmodecontrol{
    height: 30px;
    margin: 50px;
    margin-left: 150px;
    display: flex;
}

.slidecontainer {
    width: 180px;
    display: flex;
    align-items: center;
  }
  
